settings/device-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="modules">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="module">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="1"	maxOccurs="1" name="name" type="xs:string" />
							<xs:element minOccurs="1" maxOccurs="1" name="version" type="xs:string" />
							<xs:element name="resources">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="alarm">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="string-array">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="unbounded" name="item" type="xs:string" />
															</xs:sequence>
															<xs:attribute name="name" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element minOccurs="0" maxOccurs="1" name="quint128">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="name" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element minOccurs="1" maxOccurs="2" name="quint32">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="name" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="color" type="xs:string" />
												</xs:sequence>
												<xs:attribute name="name" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element maxOccurs="unbounded" name="journal">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0"	maxOccurs="1" name="quint32">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:unsignedShort">
																	<xs:attribute name="name" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="string-array">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="unbounded" name="item" type="xs:string" />
															</xs:sequence>
															<xs:attribute name="name" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="name" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="modbus">
											<xs:complexType>
												<xs:sequence>
													<xs:choice maxOccurs="unbounded">
														<xs:element maxOccurs="unbounded" name="group">
															<xs:complexType>
																<xs:sequence>
																	<xs:element minOccurs="1" maxOccurs="1" name="function" type="xs:unsignedByte" />
																	<xs:element minOccurs="1" maxOccurs="1" name="type" type="xs:string" />
																	<xs:element minOccurs="1" maxOccurs="1" name="start-addr" type="xs:unsignedShort" />
																	<xs:element minOccurs="1" maxOccurs="1" name="count" type="xs:unsignedByte" />
																</xs:sequence>
																<xs:attribute name="id" type="xs:string" use="required" />
															</xs:complexType>
														</xs:element>
														<xs:element maxOccurs="unbounded" name="register">
															<xs:complexType>
																<xs:sequence>
																	<xs:element minOccurs="1" maxOccurs="1" name="function" type="xs:unsignedByte" />
																	<xs:element minOccurs="1" maxOccurs="1" name="type" type="xs:string" />
																	<xs:element minOccurs="1" maxOccurs="1" name="start-addr" type="xs:unsignedShort" />
																</xs:sequence>
																<xs:attribute name="id" type="xs:string" use="required" />
															</xs:complexType>
														</xs:element>
													</xs:choice>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="protocom">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="unbounded" name="group">
														<xs:complexType>
															<xs:sequence>
																<xs:element  minOccurs="1" maxOccurs="1" name="start-addr" type="xs:unsignedShort" />
																<xs:element  minOccurs="1" maxOccurs="1" name="count" type="xs:unsignedByte" />
																<xs:element  minOccurs="1" maxOccurs="1" name="block" type="xs:unsignedByte" />
															</xs:sequence>
															<xs:attribute name="id" type="xs:string" use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="iec60870" type="xs:string" />
										<xs:element name="s2files">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="unbounded" name="record">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="id" type="xs:unsignedShort" />
																<xs:element name="defaultValue" type="xs:string" />
																<xs:element  minOccurs="0" maxOccurs="1" name="visibility" type="xs:boolean" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="mtypeb" type="xs:string" use="required" />
						<xs:attribute name="mtypem" type="xs:unsignedByte" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>