settings/s2files.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="s2files">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="map">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="item">
								<xs:complexType>
									<xs:sequence>
											<xs:element name="key" type="xs:unsignedShort" />
											<xs:element name="value" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="record">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:unsignedShort" />
							<xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" />
							<xs:element minOccurs="0" maxOccurs="1" name="defaultValue" type="xs:string" />
							<xs:element minOccurs="0" name="widget">
								<xs:complexType>
									<xs:sequence>
										<xs:choice maxOccurs="unbounded">
											<xs:element name="type" type="xs:string" />
											<xs:element name="group" type="xs:unsignedShort" />
											<xs:element name="field" type="xs:string" />
											<xs:element name="string" type="xs:string" />
											<xs:element name="toolTip" type="xs:string" />
											<xs:element name="min" type="xs:int" />
											<xs:element name="max" type="xs:int" />
											<xs:element name="decimals" type="xs:unsignedByte" />
											<xs:element name="string-array">
												<xs:complexType>
													<xs:sequence>
														<xs:element maxOccurs="unbounded" name="item" type="xs:string" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="count" type="xs:unsignedByte" />
											<xs:element name="parent" type="xs:unsignedShort" />
										</xs:choice>
									</xs:sequence>
									<xs:attribute name="class" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>